*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.container> h1{
    padding: 1em 0;
    color: white;
    background-color: green;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}
.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    border: 2px solid green;
    gap: 2em;
    border-radius: 10px;
    box-shadow: 0px 0px 30px gray;
}
.container form h1{
    color: green;
    border-bottom: 2px solid green;
    width: 100%;
    text-align: center;
}
.container form input{
    font-size: 1.3em;
    padding: 3px;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
}
.container form button{
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 1.1em;
    border: none;
    background-color: green;
    color: white;
    transition: .3s;
}
.container form button:hover{
    background-color: rgb(1, 103, 1);
}